.catalog{
    min-height:  calc(100vh - 100px);
}

.catalog h3{
    margin-top: 20px;
}

.catalog-items{
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}
.catalog .filters button {
    margin-left: 8px;
}